    
<div>
    <div class="card-header">
        <div> {{medias.nom}} </div>
    </div>
        <div class="card">
            <div class="name">
        <div> {{medias.real}} </div>
        <div> {{medias.artiste}} </div>
        <div> {{medias.synopsis}} </div>
        <div> {{medias.annee}} </div>
        <div class="info">
        <div class=> <img src={{medias.img}} alt=""> </div>
        <img *ngIf="medias.img =='' " src="https://www.programme-tv.net/imgre/fit/~1~tel~2021~05~19~f836e5f5-cda0-46fe-bf0b-03c3119fdcd5.jpeg/320x180/quality/80/focus-point/1019,201/netflix-les-meilleurs-films-a-regarder-ce-week-end.jpg
        ">
    </div>
    </div>
  
        <!-- <div> <img src={{media.film}} alt=""> </div> -->
    </div>

</div>



   

    

    
    