img {
    width: 200px;
    height: auto;
}

.info {
    background-color: blue;
    margin: 10px;
    text-align: center;
}

.card-header {
color: blue;
text-align: center;
font-size: 2.5em;
}

.card {
    text-align: center;
    color: black;

}



